
.card {
  width: 80%;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: "Poppins", system-ui;
  background-color: #0A0A0A;
  border: 1px solid  #3D3D3D;
  color: white;
}

.card-text-name {
  font-family: "Creepster", system-ui;
  font-size: 1.5rem;
}

.cursor{
  cursor: pointer;
}

@media (max-width: 425px) {
  .card {
    font-size: 0.9rem;
  }
}
