.card {
  width: 80%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: "Poppins", system-ui;
  // padding: 12px;
  // gap: 4px;

  // .card__img{
  //   width: 224px; //fill
  //   height: 74px; //hug
  // }
}


.cursor{
  cursor: pointer;
}

@media (max-width: 425px) {
  .card {
    font-size: 0.9rem;
  }
}
