<header>
  <section class="menu-container">
    <div class="menu">
      <div class="icon-name">
        <a href="./">
          <img class="logo"
            src="assets/logo.png"
            alt="logo"
          />
        </a>
      </div>
      <div class="main-menu">
        <nav>
          <ul>
            <li><a [routerLink]="['']">Início</a></li>
            <li><a [routerLink]="['favorite']">Favorito</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
