main {
  display: 100%;
}

.content-section {
  background-color: #1F1F1F;
}

.nav-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 150px;
  z-index: 1;
}

@media (max-width: 768px) {
  .body-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
  }
}

@media (max-width: 425px) {
  .search-section {
    margin-top: 100px;
  }

  .body-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
  }
}


