<main>
  <section class="search-section">
    <app-gallery-search-input
      [list]="pageResults"
      (resultList)="onResultList($event)"
      (reset)="onReset()"
    ></app-gallery-search-input>
  </section>
  <section class="body-section">
    <div class="content">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>

      <div>
        <section class="body-section">
          <app-gallery-list
            [list]="
              pageResults
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: currentPage,
                      totalItems: pageTotalItems
                    }
            "
            (toggleItem)="onToggleItem($event)"
          ></app-gallery-list>
        </section>
      </div>
    </div>
  </section>
</main>
