<main>
  <div class="content-section">
    <app-gallery-search-input></app-gallery-search-input>

    <section class="nav-section">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </section>

    <app-gallery-list
      [list]="
        pageResults
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: currentPage,
                totalItems: pageTotalItems
              }
      "
      (toggleItem)="onToggleItem($event)"
    ></app-gallery-list>
  </div>
</main>
