<main>
  <section class="search-section">
    <app-gallery-search-input [list]="characterslist$ | async" (resultList)="onResultList($event)"></app-gallery-search-input>
  </section>
  <section class="page">
    <div class="content">
      <!-- <gallery [list]="characterslist$ | async" (toggle)="onToggle($event)"></gallery> -->
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>

      <div
        *ngFor="
          let item of pageResults
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: pageTotalItems
                };
          let i = index
        "
        class="col-md-4"
        style="padding-bottom: 30px"
      >
        <div class="card h-100">
          <a class="text-decoration-none" href="javascript:void(0)">
            <div style="align-content: center">
              <img src="{{ item.image }}" height="164px" width="253px" alt="" />
            </div>
          </a>
          <h4 class="card-title">{{ item.name | titlecase }}</h4>
          <h6 class="card-title">{{ item.species | titlecase }}</h6>
          <span (click)="toggleItem(item.id)"
            ><i
              [ngClass]="item.isFavorite ? 'fas fa-heart' : 'far fa-heart'"
            ></i
          ></span>
        </div>
      </div>
    </div>
  </section>
</main>
