@import 'bootstrap/scss/bootstrap';

$background: #0A0A0A;
$background1: #1F1F1F;
$border: #3D3D3D;


h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
}

body {
  font-family: "Poppins", system-ui;
}


@mixin padding-grid($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

